<center><h1>Posts</h1></center>

<% @post.each do |t| %>
<%= t.title %><br>
<% end %>
<br>

<%= form_for(Post.new) do |f| %>
  Title: <%= f.text_field :title %><br />
  Post: <%= f.text_area :text %><br />
  <%= f.submit %>
<% end %>
